---
// import type { CollectionEntry } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import LeftSidebar from '../../components/LeftSidebar.astro';
import './style.scss';
import './markdown.scss';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

// interface Props = CollectionEntry<'blog'>['data'];
// interface Props {
//   title: string;
//   description: string;
//   pubDate: string;
// }

const currentPage = new URL(Astro.request.url).pathname;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <div class="contents">
      <LeftSidebar currentPage={currentPage} />
      <main>
        <article>
          <div class="markdown-body">
            <slot />
          </div>
        </article>
      </main>
    </div>

    <script>
      const getAsideTag = document.querySelector('aside');
      const getArticleTag = document.querySelector('article');
      const getContentsBox = document.querySelector('main');
      const windowHeight = window.innerHeight;

      if (getArticleTag && getAsideTag && getContentsBox) {
        getArticleTag.style.height = `${windowHeight - 100}px`;
        getAsideTag.style.height = `${windowHeight - 100}px`;
        getContentsBox.style.height = `${windowHeight - 100}px`;
      }
    </script>
  </body>
</html>
