---
import Layout from '../../../layouts/Layout.astro';
import './style.scss';
---

<Layout>
  <div class="my-page-contents">
    <div class="product-wrapper">
      <h3>이용중인 상품</h3>
      <div class="product-box">
        <div>
          <p class="name">이든</p>
          <p class="email">eden10@seoltab.test</p>
          <p>|</p>
          <button class="button">계약서 확인하기</button>
        </div>
        <div>
          <p class="name">기기 정보</p>
          <p class="item">아이패드 대여 ( 중고 9세대 실버 )</p>
        </div>
        <div>
          <p class="name">수강 정보</p>
          <p class="item">9.125 개월</p>
        </div>
        <div>
          <p class="name">혜택 정보</p>
          <p class="item">15개월 완강 시 기기 증정</p>
        </div>
      </div>
    </div>
    <div class="ticket-wrapper">
      <div class="ticket-title-box">
        <h3>이용중인 수강권</h3>
        <span>현재 수강 중인 과목과 회차를 확인하세요.</span>
      </div>
      <div class="ticket-item-box">
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="divider"></div>
            <div class="grid-box">
              <span></span>
              <span>추가과목 혜택 월 2만원 할인이 적용</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>총 회차 종료 후 3개월 상품이 자동 결제</span>
            </div>
            <div class="divider"></div>
            <div class="ticket-button-box">
              <span>학습 고민을 작성하고, 나와 꼭 맞는 선생님을 찾아보세요!</span>
              <button>과외 신청서 작성하기</button>
            </div>
          </div>
        </div>
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="divider"></div>
            <div class="grid-box">
              <span></span>
              <span>추가과목 혜택 월 2만원 할인이 적용</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>총 회차 종료 후 3개월 상품이 자동 결제</span>
            </div>
            <div class="divider"></div>
            <div class="ticket-button-box">
              <span>학습 고민을 작성하고, 나와 꼭 맞는 선생님을 찾아보세요!</span>
              <button>과외 신청서 작성하기</button>
            </div>
          </div>
        </div>
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="divider"></div>
            <div class="grid-box">
              <span></span>
              <span>추가과목 혜택 월 2만원 할인이 적용</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>총 회차 종료 후 3개월 상품이 자동 결제</span>
            </div>
            <div class="divider"></div>
            <div class="ticket-button-box">
              <span>학습 고민을 작성하고, 나와 꼭 맞는 선생님을 찾아보세요!</span>
              <button>과외 신청서 작성하기</button>
            </div>
          </div>
        </div>
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="divider"></div>
            <div class="grid-box">
              <span></span>
              <span>추가과목 혜택 월 2만원 할인이 적용</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>총 회차 종료 후 3개월 상품이 자동 결제</span>
            </div>
            <div class="divider"></div>
            <div class="ticket-button-box">
              <span>학습 고민을 작성하고, 나와 꼭 맞는 선생님을 찾아보세요!</span>
              <button>과외 신청서 작성하기</button>
            </div>
          </div>
        </div>
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
            <div class="divider"></div>
            <div class="grid-box">
              <span></span>
              <span>추가과목 혜택 월 2만원 할인이 적용</span>
            </div>
            <div class="grid-box">
              <span></span>
              <span>총 회차 종료 후 3개월 상품이 자동 결제</span>
            </div>
            <div class="divider"></div>
            <div class="ticket-button-box">
              <span>학습 고민을 작성하고, 나와 꼭 맞는 선생님을 찾아보세요!</span>
              <button>과외 신청서 작성하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ticket-wrapper end">
      <div class="ticket-title-box">
        <h3>종료된 수강권</h3>
        <span>현재 수강 중인 과목과 회차를 확인하세요.</span>
      </div>
      <div class="ticket-item-box">
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
          </div>
          <div class="dim"></div>
        </div>
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
          </div>
          <div class="dim"></div>
        </div>
        <div class="ticket-item">
          <div class="ticket-title-box">
            <div class="title">
              <p class="subject">수학</p>
              <p class="package">설탭 중등</p>
              <p class="badge">수업료 할인</p>
            </div>
            <div>
              <button>요청하기</button>
            </div>
          </div>
          <div class="ticket-contents">
            <div class="grid-box">
              <span></span>
              <span>주 1회 60분 수업</span>
            </div>
          </div>
          <div class="dim"></div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style is:inline>
  * {
    color: #ffffff;
  }
</style>
