---
import RepositoryList from '~/components/Repository/List/index.astro';
import RepositoryLanguage from '~/components/Repository/Language/index.astro';
import { Repository } from '~/components/Repository/type';

const response = await fetch('https://api.github.com/users/initoki/repos?sort=updated', {
  headers: {
    Authorization: `token ${import.meta.env.GITHUB_TOKEN}`,
  },
});

const data = await response.json();
const repositories: Repository[] = [];
data?.map((x) => {
  const getData = {
    repositoryName: x.name,
    languagesUrl: x.languages_url,
    repositoryUrl: x.html_url,
  };
  repositories.push(getData);
});
---

<div class="repository-list-box">
  <h1>Repository ({repositories.length})</h1>
  <div class="list-box">
    <RepositoryList repositories={repositories} />
    <RepositoryLanguage repositories={repositories} />
  </div>

  <style>
    div.repository-list-box {
      height: 200px;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: rgba(1, 1, 1, 0.4);
    }

    h1 {
      margin-bottom: 10px;
      color: white;
      font-size: 20px;
    }

    div.list-box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 150px;
      overflow-y: scroll;
    }
  </style>
</div>
