---
// import Profile from './Profile';
import Profile from './Profile/index.astro';
import Menu from './Menu/index.astro';

const response = await fetch('https://api.github.com/users/initoki', {
  headers: {
    Authorization: `token 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`,
  },
});
const data = await response.json();
---

<nav>
  <Profile profileImage={data.avatar_url} profileLogin={data.login} />
  <Menu />
</nav>

<style>
  nav {
    width: 280px;
    height: 98vh;
    margin: 10px 0 10px 10px;
    padding: 30px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
</style>
