---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout>
  <main class="mt-[80px]">
    <p class="text-center text-[20px] mb-[20px]">HI!<br />Welcome my blog</p>
    <div class="item-box">
      <!--<div class="item">-->
      <!--  <a href="/design/introduction">-->
      <!--    <img src="/Core.jpg" class="mb-[30px]" />-->
      <!--    <p>Design System (확정 X, 테스트용으로 생성)</p>-->
      <!--  </a>-->
      <!--</div>-->
      <div class="item">
        <a href="/blog">
          <img src="/Patterns.jpg" class="mb-[30px]" />
          <p>Blog</p>
        </a>
      </div>
    </div>
  </main>
</DefaultLayout>

<style is:inline>
  .item-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .item {
    width: 100%;
    height: 100%;
    border: 1px solid #ececec;
    border-radius: 6px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .item > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #191919;
  }

  .item p {
    font-size: 1.1rem;
    font-weight: 600;
  }
</style>
