---
import DesignSystemLayout from '../../layouts/DesignSystemLayout.astro';
---

<DesignSystemLayout>
  <h1>Design System Demo</h1>
  <!--<a href={`${url.origin}/design/download/design.zip`} download>Download</a>-->
</DesignSystemLayout>
