.section-title {
  margin-bottom: 20px;
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 18px 64px;
  border: 1px solid #808080;
  border-radius: 12px;

  .user-info-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .user-profile-image {
      width: 120px;
      height: 120px;
      margin-right: 40px;
      border-radius: 50%;
      background-color: #808080;
    }
  }

  .flex-box {
    display: flex;
    align-items: center;
  }

  .grid-box {
    display: grid;

    &.user-info-title {
      grid-template-columns: 50px 20px 1fr;
      margin-bottom: 15px;
    }

    &.user-info-phone {
      grid-template-columns: 100px 1fr 50px;
      gap: 20px;
    }

    &.user-info-email,
    &.user-info-code {
      grid-template-columns: 100px 1fr;
      gap: 20px;
    }
  }
}

.user-info-parent-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 18px 64px;
  border: 1px solid #808080;
  border-radius: 12px;

  p:nth-child(1) {
    margin-right: 100px;
  }
}

.divider {
  width: 100%;
  height: 4px;
  margin: 20px 0;
  background-color: #373737;
}

.default-button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 64px;
  border: 1px solid #808080;
  border-radius: 12px;
  margin-bottom: 20px;

  p:nth-child(2) {
    cursor: pointer;
  }
}
