---
import { getCollection } from 'astro:content';

const notes = await getCollection('note');
---

<div>
  {
    notes
      .slice(0)
      .reverse()
      .map((note, index) => {
        return (
          <div key={index} class="list-box">
            <h1>
              <a href={`/note/${note.slug}`}>{note.data.title}</a>
            </h1>
            <p>{note.data.description}</p>
          </div>
        );
      })
  }
</div>

<style>
  h1 {
    font-size: 24px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
  }

  h1 a {
      color: #FFFFFF;
      text-decoration: none;
  }

  p {
    padding-top: 10px;
    font-size: 20px;
    color: #ffffff;
  }

  div.list-box {
    margin: 50px 0 70px 0;
  }
</style>
