---
import { getCollection } from 'astro:content';

const notes = await getCollection('note');
---

<div>
  {
    notes.map((note, index) => {
      return (
        <div key={index} class="list-box">
          <h1>
            <a href={`/note/${note.slug}`}>{note.data.title}</a>
          </h1>
          <p>{note.data.description}</p>
        </div>
      );
    })
  }
</div>

<style>
  h1 {
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
  }

  p {
    padding-top: 20px;
    font-size: 20px;
    color: #ffffff;
  }

  div.list-box {
    margin: 50px 0 70px 0;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
</style>
