---
import Navigation from '~/components/Navigation/index.astro';
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/initlog.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
    <Navigation />
    <main>
      <slot />
    </main>

    <style is:global>
      @font-face {
        font-family: 'Noto Sans KR';
        src: url('../../public/font/NotoSansKR-VariableFont_wght.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        letter-spacing: 0.5px;
      }

      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }

      html {
        height: 100vh;
        font-family: system-ui, sans-serif;
        /*background-image: url('/17520.webp');*/
        background-color: #343434;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*overflow: hidden;*/
      }

      h1 {
        margin: 0;
        padding: 0;
      }

      .my-page-contents {
        max-width: 850px;
      }
    </style>

    <style>
      body {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 10px;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      main {
        height: 98vh;
        margin: 10px 10px 10px 0;
        padding: 20px 30px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
        overflow: scroll;
      }
    </style>

    <script src="//www.unpkg.com/@hyperdx/browser@0.18.4/build/index.js" is:inline></script>
    <script is:inline>
      window.HyperDX.init({
        apiKey: '972268c1-2f4e-47fc-a7c7-134b5d9a15e1',
        service: 'initLog',
        tracePropagationTargets: [''],
        consoleCapture: true,
        advancedNetworkCapture: true,
      });
    </script>
  </body>
</html>
