---
import {ViewTransitions} from 'astro:transitions';
import './post-layout.scss';

const { frontmatter } = Astro.props;
---
<head>
  <ViewTransitions/>
</head>
<div class="md">
  <div class="title-box">
    <h1 class="title">{frontmatter.title}</h1>
    <p class="description">{frontmatter.description}</p>
  </div>
  <slot />
</div>
