div.md {
  color: #FFFFFF;
  *:not(.astro-code) {
    color: #4e4e4e;
    margin: 10px 0;
    line-height: 27px;
    letter-spacing: 1.1px;
  }
  div.title-box {
    margin-bottom: 50px;
  }

  h1.title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .astro-code {
    margin: 20px 0;
    padding: 30px 20px;
    border-radius: 10px;
  }

  a {
    text-underline-position: under;
  }
}
